@{
    decimal totalLocal =  (decimal)ViewBag.totalLocal;
    decimal totalExtranjeto = (decimal)ViewBag.totalExtrajero;
}

<div class="row">
    <div class="col-12">
        <label> Total Local </label>
        <b> @totalLocal</b>
        
        <label> Total extranjeto </label>
        <b> @totalExtranjeto</b>
    </div>
    
</div>